*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Container{
    width: 600px;
    height: 600px;
    background-color: lightgreen;
}
@media screen and (width < 600px) {
    .Container{
        background-color: lightblue;
    }
}
@media screen and (width >= 600px) and (width <= 1024px) {
    .Container{
        background-color: lightgreen;
    }
}
